# Build Results
[Bb]in/
[Oo]bj/

# Visual Studio / User Specific
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# OS Generated
.DS_Store
Thumbs.db

# Sensitive Documents
wwwroot/documents/*.pdf
wwwroot/documents/TeamMink.pdf

# Secrets / Production Config
appsettings.Production.json
